html, body {
	margin:0;
	width:100%;
	height:100%;
	background-color: #333B40;
	color:#A1B8C6;
	padding:0;
	overflow:hidden;
	font-family: 'Monda', sans-serif;
}


canvas {

	background-color: #000;
 	/*image-rendering: -webkit-optimize-contrast;
	/*image-rendering: optimizeSpeed;             // Older versions of FF
  image-rendering: -moz-crisp-edges;          // FF 6.0+
  // Webkit
                                              //  (Safari now, Chrome soon)
  image-rendering: optimize-contrast;         // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor;   // IE
  */
}
